.header{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: $header_backgrund; 
 height: 10vh;  




 &__logo{
    height: 100%;


    &__img{
        height: 100%;
        color: white;
    }
 }

}